Git (Лукьянов)/92PG/temp/*
Git (Лукьянов)/92PG/log/*.tmp
*.vs/
*.vscode/
**vs/
Оптимизация (Лукьянов)/**/bin/
Оптимизация (Лукьянов)/**/obj/
*.workspace
Микроконтроллеры/**/Project Backups/
Микроконтроллеры/**.xml
*.eep
*.elf
*.lss
*.map
*.srec
*.d
*.o
*.mk
*Makefile