Git (Лукьянов)/92PG/temp/*
Git (Лукьянов)/92PG/log/*.tmp
*.vs/
*.vscode/
**vs/
Оптимизация (Лукьянов)/**/bin/
Оптимизация (Лукьянов)/**/obj/
*.workspace
Микроконтроллеры/**/Project Backups/
Микроконтроллеры/**.xml
Микроконтроллеры/**.eep
Микроконтроллеры/**.elf
Микроконтроллеры/**.lss
Микроконтроллеры/**.map
Микроконтроллеры/**.srec
Микроконтроллеры/**.d
Микроконтроллеры/**.o
Микроконтроллеры/**.mk
Микроконтроллеры/**Makefile